html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
  body {
      margin: 0;
      padding: 0;
  }
  /* Beginning of Hero Section  */
  img#one.card-img {
    height: 805px;
  }
  .card-img-overlay {
    margin-top: 70px;
  }
  /* End of Hero Section */

  /* Beginning of Sesction Two */
  div.card-body {
    height: 300px;
  }
  h2#about-us {
    padding-top: 50px;
  }
  /* End of Section Two */

  /* Beginning of Sesction Three */
  img#two.card-img {
    height: 500px;
  }
  div#two.card-img-overlay {
    display: flex;
    flex-direction: column;
  }
  /* End of Section Three */

 /* Beginning of Sesction Four */
 div.what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 30px 0;
 }
.what-we-do div.items {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 40px;
 }
#flex-1 #flex-2 {
   cursor: pointer;
 }
 div.items div ul#flex-2 {
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 div.items div ul li {
   list-style: none;
 }
 div.items div#flex-1 {
   margin: 0 150px 0 150px;
 }
.showing,
.showing-2,
.showing-3 {
  display: none;
} 

.showing p,
.showing-2 p,
.showing-3 p {
  width: 411px;
  padding: 20px;
  text-align: center;
}
.showing h5,
.showing-2 h5,
.showing-3 h5 {
  text-align: center;
  font-weight: bold;
}
 /* End of Section Four */

 /* Beginning of Section Five  */
 div.portfolio {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
  div.portfolio div#list ul.list-2 li {
    list-style: none;
  }
 div.portfolio div#list ul.list-2 {
    display: flex;
    flex-direction: row;
 }
   div.portfolio div#list ul.list-2 li img {
     height: 250px;
     width: 250px;
}
 div.portfolio div#list ul#one.list-2 li img {
   margin: 20px 20px 30px 20px;
 }
div#list ul.list-2 li div p {
  position: relative;
  display: flex;
  justify-content: center;
  }
 div.portfolio div#list ul#two.list-2 li img {
   margin: 0 20px 30px 20px;
 }
div#list ul li div div#border p {
  margin-top: -250px;
  font-size: 25px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding-bottom: 140px;
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border: 5px solid white;
  font-weight: bold;
}
div#list ul#two li div div#border p#self {
  margin-top: -250px;
  font-size: 25px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding-bottom: 105px;
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border: 5px solid white;
  font-weight: bold;
  justify-content: flex-start;
}
 /* End of Section Five */

 /* Beginning of Section Six  */
  img#three.card-img {
    height: 550px;
  }
form.row {
  margin-left: 100px;
}
h2#two.card text {
    padding: 0 0 20px 0;
  }
div.col-md-6 input {
  background-color: transparent;
  border: 2px solid white;
  width: 500px; 
  justify-content: space-between;
}
div.col-12 textarea {
  background-color: transparent;
  color: white;
  width: 1194px;
  border: 2px solid white;
}
/* div.d-grid input.btn {
  width: 1195px;
  border: 2px solid white;
} */
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 30px;
}
.modal-title h2 {
  color: black;
  padding-left: 30px;
  margin-top: -30px;
  padding-bottom: 10px;
  border-bottom: 3px solid lightblue;
}
.modal-title p {
  font-size: 30px;
  color: black;
  margin-left: 440px;
  cursor: pointer;
}
.modal-message p {
  color: black;
  padding: 10px 30px 20px 30px;
  font-size: 25px;
  border-bottom: 3px solid lightblue;
}
/* .overlay div.popup-2 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 0.2s;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup-2 .fallback-message {
  max-height: 30%;
  overflow: auto;
}
.overlay:target:before {
  display: none;
}
.overlay:before {
  content:"";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9;
}
.overlay .popup-2 {
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: fixed;
  top: 0;
  left: 35%;
  padding: 25px;
  margin: 70px auto;
  z-index: 10;
  -webkit-transition: all 60s ease-in-out;
  -moz-transition: all 60s ease-in-out;
  transition: all 60s ease-in-out;
}
.overlay:target .popup-2 {
    top: -100%;
    /* left: -100%; */
} */
/* body {
  font-family: Arial, sans-serif;
  background: url(http://ak.picdn.net/assets/cms/2d850dac5bcfcb86514922660d6e357aa44fd06e-crop-shutterstock_310408637.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
} */



/* 

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 0.2s;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}




.overlay:target:before {
    display: none;
}
.overlay:before {
  content:"";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9;
}
.overlay .popup {
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: fixed;
  top: 0;
  left: 35%;
  padding: 25px;
  margin: 70px auto;
  z-index: 10;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.overlay:target .popup {
    top: -100%;
    left: -100%;
}

@media screen and (max-width: 768px){
  .box{
    width: 70%;
  }
  .overlay .popup{
    width: 70%;
    left: 15%;
  }
}*/
 /* End of Section Six */

 /* Beginning of Section Seven */
 div#social-media ul {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
 }
  div#social-media ul li {
    list-style: none;
  }
  div#social-media ul li img {
    margin: 10px;
  }
  div#social-media {
     display: flex;
     flex-direction: row;
     margin-left: 400px;
  }
  /* div#social-media ul.list li img {
    position: absolute;
    margin-top: -500px;
  } */
 /* End of Section Seven */

 /*footer*/
div.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Beginning of media queries */
@media only screen and (max-width: 1400px) {
  body,
  div.card-body {
    background-color: #F37D1E;
  }
  div.items div#flex-1 ul li h6 {
    font-size: 15px;
  }
  div#list ul li div p {
    margin: 20px;
  }
  form div input#inputEmail4 {
    margin-left: 73px;
  }
  div#social-media {
     margin-left: 350px;
   }
}

@media only screen and (max-width: 1200px) {
  body,
  div.card-body {
    background-color: #F37D1E;
    width: 1200px;
  }
  div.items div#flex-1 ul li h6 {
    display: flex;
    justify-content: center;
   align-items: center;
  }
  div#list ul.list-2 li img {
    margin: 0px 70px 0px 0px;
  }
  div.card div.card-body p#info {
    padding-right: 10px;
  }
  div#list {
    margin-right: 30px;
  }
  form.row {
    margin-left: 5px;
  }
  form.row div.col-12 textarea {
    width: 1120px;
  }
  form.row div.d-grid input {
    width: 1120px;
  }
  form div input#inputEmail4 {
    margin-left: 35px;
  }
  div#social-media {
    margin-left: 250px;
  }
}

@media only screen and (max-width: 992px) {
    body,
  div.card-body {
    background-color: #F37D1E;
    width: 992px;
  }
  .what-we-do div.items {
    display: flex;
    flex-direction: column;
    margin-left: -5px;
  }
  div.items div ul#flex-2 li img {
    margin-top: 60px;
  }
  div.portfolio div#list ul.list-2 {
    display: flex;
    flex-direction: column;
  }
  div.portfolio img {
    margin-bottom: 100%;
  }
  form.row div.col-12 textarea {
    width: 900px;
    margin-left: -5px;
  }
  form.row div.d-grid input {
    width: 900px;
  }
  form div input#inputEmail4 {
    margin-left: 15px;
  }
  form.row div.col-md-6 input {
    width: 400px;
  }
  div.card div.card-body p#info {
    padding-right: 30px;
  }
  div#social-media {
    margin-left: 150px;
  }
}
@media only screen and (max-width: 768px) {
  body,
  div.card-body {
    background-color: red;
    width: 768px;
  }
   form.row div.col-12 textarea {
    width: 700px;
    margin-left: -5px;
  }
  form.row div.d-grid input {
    width: 700px;
    margin-left: -5px;
  }
  form div input#inputEmail4 {
    margin-left: -5px;
  }
  form div input#inputName4 {
    margin-left: -5px;
  }
  form.row div.col-md-6 input {
    width: 700px;
  }
   img#three.card-img {
    height: 560px;
  }
  div.card div.card-body p#info {
    padding-right: 30px;
  }
  div#social-media {
     display: flex;
     flex-direction: column;
     margin-left: -50px;
  }
}
@media only screen and (max-width: 576px) {
  body,
  div.card-body {
    background-color: red;
    width: 576px;
  }
  form.row div.col-12 textarea {
    width: 500px;
    margin-left: -5px;
  }
  form.row div.d-grid input {
    width: 500px;
    margin-left: -5px;
  }
  form div input#inputEmail4 {
    margin-left: -5px;
  }
  form div input#inputName4 {
    margin-left: -5px;
  }
  form.row div.col-md-6 input {
    width: 500px;
  }
   img#three.card-img {
    height: 560px;
  }
}