html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
  body {
      margin: 0;
      padding: 0;
  }

  /* Beginning of Hero Section  */
  img#one.card-img {
    height: 805px;
  }
  .card-img-overlay {
    margin-top: 70px;
  }
  /* End of Hero Section */

  /* Beginning of Sesction Two */
  div.card-body {
    height: 300px;
  }
  h2#about-us {
    padding-top: 50px;
  }
  /* End of Section Two */

  /* Beginning of Sesction Three */
  img#two.card-img {
    height: 500px;
  }
  div#two.card-img-overlay {
    display: flex;
    flex-direction: column;
  }
  /* End of Section Three */

 /* Beginning of Sesction Four */
 div.what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 30px 0;
 }
.what-we-do div.items {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
 }
#flex-1 #flex-2 {
   cursor: pointer;
 }
 div.items div ul#flex-2 {
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 div.items div ul li {
   list-style: none;
 }
 div.items div#flex-1 {
   margin: 0 150px 0 150px;
 }
.showing,
.showing-2,
.showing-3 {
  display: none;
} 

.showing p,
.showing-2 p,
.showing-3 p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 411px;
  padding: 20px;
  /* margin: 0 0px 0 50px; */
}
.showing h5,
.showing-2 h5,
.showing-3 h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 0 0px 0 50px; */
}
 /* End of Section Four */

 /* Beginning of Section Five  */
 div.portfolio {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
  div.portfolio div#list ul.list-2 li {
    list-style: none;
  }
 div.portfolio div#list ul.list-2 {
    display: flex;
    flex-direction: row;
 }
   div.portfolio div#list ul.list-2 li img {
     height: 250px;
     width: 250px;
}
 div.portfolio div#list ul#one.list-2 li img {
   margin: 20px 20px 30px 20px;
 }
 div.portfolio div#list ul#two.list-2 li img {
   margin: 0 20px 30px 20px;
 }
 div#border {
   background-color: rgba(0,0,0,0.8);
   height: 250px;
   width: 250px;
   margin-top: -85px;
   margin-left: 5px;
 }
h2#four.card-text {
  padding: 5px 60px 120px 5px;
  border: 5px solid white;
  margin-left: 40px;
  margin-top: -50px;
}
 /* End of Section Five */

 /* Beginning of Section Six  */
  img#three.card-img {
    /* height: 450px; */
    height: 550px;
  }
form.row {
  margin-left: 100px;
}
h2#two.card text {
    padding: 0 0 20px 0;
  }
div.col-md-6 input {
  background-color: transparent;
  border: 2px solid white;
  width: 500px; 
  justify-content: space-between;
}
div.col-12 textarea {
  background-color: transparent;
  color: white;
  width: 1194px;
  border: 2px solid white;
}
div.d-grid input.btn {
  width: 1195px;
  border: 2px solid white;
}
 /* End of Section Six */

 /* Beginning of Section Seven */
 div#social-media ul {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
 }
  div#social-media ul li {
    list-style: none;
  }
  div#social-media ul li img {
    margin: 10px;
  }
 /* End of Section Seven */

 /*footer*/
div.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* 
@media only screen and (max-width: 1400px) {

    div.jumbotron-fluid {
     background-color: rgb(128,0,0);
    }
    h1.text-light {
        padding: 100px 0 0 20px;
        text-shadow: 1px -1px 8px black;
        font-size: 70px;
    }
    p#one {
        margin: 20px 200px 0 220px;
        text-align: center;
    }
    p#two span {
        color: #ffffff;
    }
}
@media only screen and (max-width: 1200px) {
    h1.text-light {
        padding: 50px 0 0 50px;
        font-size: 55px;
    }
    h2#welcome-note {
        position: absolute;
        font-weight: 5px;
        margin: -5px 0 -300px -100px;
    }
    #form {
        margin-top: 20px;
    }
    div#two.card {
        margin-top: 35px;
    }
    p#one {
        margin: 20px 300px 0 310px;
        text-align: center;
    }
    p#two span {
        color: #ffffff;
    }
}
@media only screen and (max-width: 992px) {
    h1.text-light {
        padding-left: 10px;
        font-size: 44px;
    }
    h2#welcome-note {
        margin: -5px 0 0 -200px;
        position: absolute;
        font-weight: 5px;
    }
    #form {
        margin-top: 20px;
    }
    div#two.card {
        margin-top: 35px;
    }
    p#one {
        margin: 20px 400px 0 430px;
        text-align: center;
    }
}
 @media only screen and (max-width: 768px) {
    h1.text-light {
        padding: 250px 0 0 -40px;
        font-size: 30px;
        font-weight: bolder;
    }
    h2#welcome-note {
        margin: -5px 0 0 -280px;
        position: absolute;
        font-weight: 5px;
    }
   #form {
        margin-top: 20px;
    }
    div#two.card {
         margin: 0 16px 0 16px;
        }
    p#one {
        margin: 20px 430px 0 430px;
        text-align: center;
        padding: 10px;
    }
}
@media only screen and (max-width: 576px) {
    h1.text-light {
        padding: 250px 0 0 -40px;
        font-size: 30px;
        font-weight: bolder;
    }
    h2#welcome-note {
        margin: -5px 0 0 -190px;
        position: absolute;
        font-weight: 5px;
        font-size: 20px;
    }
    #form {
      margin-top: 20px;
    }
    div#two.card {
         margin: 0 16px 0 16px;
    }
    p#one {
        margin: 20px 515px 0 515px;
        text-align: center;
        padding: 10px;
    }
    p#two span {
          color: #ffffff;
    }
    p#two {
      margin-left: 510px;
    }
}
 */