html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
  body {
      margin: 0;
      padding: 0;
  }

  /* Beginning of Hero Section  */
  img#one.card-img {
    height: 805px;
  }
  .card-img-overlay {
    margin-top: 70px;
  }
  /* End of Hero Section */

  /* Beginning of Sesction Two */
  div.card-body {
    height: 300px;
  }
  h2#about-us {
    padding-top: 50px;
  }
  /* End of Section Two */

  /* Beginning of Sesction Three */
  img#two.card-img {
    height: 500px;
  }
  div#three.card {
    position: ;
  }
  div#two.card-img-overlay {
    position: absolute;
    padding-top: -50px;
    display: flex;
    flex-direction: column;
  }
  /* End of Section Three */

 /* Beginning of Sesction Four */
 div.what-we-do div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 30px 0;
 }
 div.container div.items {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
 }
 div.items div ul#flex-2 {
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 div.items div ul li {
   list-style: none;
 }
 div.items div#flex-1 {
   margin: 0 150px 0 150px;
 }
 /* End of Section Four */

 /* Beginning of Section Five  */
 div.portfolio {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
  div.portfolio div#list ul.list-2 li {
    list-style: none;
  }
 div.portfolio div#list ul.list-2 {
    display: flex;
    flex-direction: row;
 }
   div.portfolio div#list ul.list-2 li img {
     height: 250px;
     width: 250px;
}
 div.portfolio div#list ul#one.list-2 li img {
   margin: 20px 20px 30px 20px;
 }
 div.portfolio div#list ul#two.list-2 li img {
   margin: 0 20px 30px 20px;
 }

 /* End of Section Five */

 /* Beginning of Section Six  */
  img#three.card-img {
    height: 400px;
  }
h2#two.card text {
    padding: 0 0 20px 0;
  }
div.col-md-6 input {
  background-color: transparent;
  color: white;
}
div.col-12 input {
  background-color: transparent;
}

 /* End of Section Six */
